body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #e0f0ff; /* Color de fondo azul claro */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    margin: auto; /* Centra el contenedor horizontalmente */
    text-align: center; /* Centra el contenido textualmente */
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del formulario */
}

.auth-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #003366; /* Azul oscuro para los labels */
}

.auth-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px); /* Ajusta el ancho para el padding */
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
}

.auth-form input:focus {
    border-color: #007bff;
    outline: none;
}

.auth-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Hace que el botón ocupe todo el ancho del formulario */
}

.auth-form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.auth-form button:hover:not(:disabled) {
    background-color: #0056b3;
}

/* Mensajes de validación */
.validation-message {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 10px;
}
